@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

.header-block {
  background-color: white;
  padding: 0;
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(52, 1, 61);
  color: white;
}

#headerTitle {
  color: #482673;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 4000;
  font-size: 40px;
}

.nav-link {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #ed0b70;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 400;
}

.nav-link:hover {
  background-color: #4cbfa6;
}

body {
  background-color: white;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
  width: 500px;
  height: 200px;
  display: flex;
  background-color: #f6ebf4;
}

.card-content {
  display: flex;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.image-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.image-container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.text-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-left: 1rem;
}

.text-content h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
  color: #482673;
}

.text-content p {
  margin: 0;
}

.upvotes-comments {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.card-link {
  text-decoration: none;
}

.single-article h2 {
  font-family: "Tilt Neon", sans-serif;
  text-align: center;
  padding: 0;
  font-size: 40px;
}

.single-article .topic-author {
  justify-content: space-around;
  margin-top: 10px;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 400;
}

.single-article .topic-author p {
  text-align: center;
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
}
.single-article img {
  max-width: 600px;
  height: auto;
  margin: 20px 0;
  justify-content: center;
  display: flex;
}

.article-body {
  text-align: center;
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  font-size: 20px;
}

.single-article .image-container-a {
  display: flex;
  justify-content: center;
}

.single-article .image-container-a img {
  border-radius: 5px;
}

.single-article p {
  text-align: start;
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

.comment-card {
  background-color: #f6ebf4;
  border: solid 2px black;
  padding: 1rem;
  display: inline-block;
  margin-bottom: 1rem;
  width: 500px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

ul {
  list-style: none;
}

.comment-body {
  padding: 5px;
  padding-left: 10px;
}

.comment-author {
  background-color: #f5edf3;
  color: #4cbfa6;
}

.formatted-date {
  font-style: italic;
  font-size: 12px;
}
.comments-title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 50px;
}
